.Table{
    margin: -2px;
    margin-bottom: 0;
}

.TableHead{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-color: #2F96AD;
}

.DarkBg{
    background-color: #39727E;
}

.DefaultText{
    color: #D0DCDF;
}