.FormError{
    color: red;
    font-weight: 500;
    font-size: 15px;
}

.InputWrap{
    width: 100%;
    padding-bottom: 25px;
    position: relative;
}

.InputWrap.Error select,
.InputWrap.Error input {
    border-bottom: solid 2px red;
}

.Label{
    display: inline-block;
    color: #D0DCDF;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}

.CurrencyFloatingBlock{
    position: absolute;
    right: 12px;
    top: 18px;
    color: #C2CBD9;
}