.HomePage{
    display: flex;
    width: 100%;
    min-height: 740px;
}

.Card{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.ContentPadding{
    padding: 100px;
}

.CardImage{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}