.Button{
    font-size: 16px;
    background: transparent linear-gradient(99deg, #3578EB 0%, #1C5CC5 100%);
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
    font-weight: 500;
    font-family: 'Open sans', sans-serif;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 100px;   
}

.Disabled{
    background: #C2CBD9;
}

.Danger{
    background: #A6393F;
}