.Modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 100px;
    background-color: rgba(0,0,0,0.6);
}

.ModalBody{
    width: 50%;
    background: #FFF;    
    padding: 50px;
    text-align: center;
}