.Input {
    width: 100%;
    font-size: 16px;
    color: #454860;
    padding: 15px;
    background: #fff;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    box-shadow: 3px 3px 7px #C2CBD9;
    border-radius: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.ArrowReplacement {position:relative}
.ArrowReplacement::after {
    content: '^';
    font: 20px "Open sans", monospace;
    color: #454860;
    transform: rotate(180deg);
    width: 16px;
    height: 22px;
    right: 16px;
    top: 10px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.ArrowReplacement::before {
    content:'';
    right:0px; 
    top:0px;
    width:50px; 
    height:100%;
    position:absolute;
    pointer-events:none;
    display:block;
}

.Error{
    border: 1px solid red;
}

.ArrowReplacement.SelectOpen::after{
    transform: rotate(360deg);
}
